<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key ="db"
         value="192.168.0.11"/>
    <add key ="ad"
         value="whm.local"/>
	<add key ="ou"
		 value="dbusers"/>
	<add key ="dcpre"
		 value="WHM"/>
	<add key="dcsuf"
		 value="local"/>
	<add key="dbuser"
		 value="sa"/>
	<add key="dbuserpw"
	     value="Ers1234Ers1234"/>
  </appSettings>
</configuration>